<form method="post" action="{{space.permalink}}/ideas" class="add-new" enctype="multipart/form-data">
	<input name="idea[title]" type="text" placeholder="Title">
	<input name="idea[content]" placeholder="Description"/>
	<input name="idea[custom1]" type="text" placeholder="image url">
</form>